npm.nav-tabs{
    margin-top: 10px;
}

.nav-link{
    color: black;
}

.icon{
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

.head{
    font-size: 25px;
    margin-top: 15px;
}

.selected{
    color:#00c9c9
}

.bookedmale{
    color:#c9a400
}

.bookedfemale{
    color:#ff0095
}