<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">AC-Classes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Non-AC-Classes</a>
  </li>
  <li class="nav-item" *ngIf="user == 'admin'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Students</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <p class="head">AC Class Seats InFormation</p>
        <div class='row'>
          <div *ngFor="let ad of acData; let i=index">
            <i *ngIf="!ad.Booked" class='fas fa-couch icon' (click)="select(i)" [ngClass]="ad.selected == 1 ? 'selected':''"></i>
            <i *ngIf="ad.Booked" class='fas fa-couch icon' (click)="select(i)" [ngClass]="ad.gender == 'male' ? 'bookedmale':'bookedfemale'"></i>
          </div>
        </div>
        <button *ngIf="user=='student'" class="btn btn-secondary" (click)="bookseat()">Book</button>

      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

  </div>
</div>